.cases {
    height: 45vh;
    height: calc(var(--vh, 1vh) * 45);
    .container-fluid {
        .cases-navigation {
            position: absolute;
            bottom: 0px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 6;
            padding: 32px;
            box-sizing: border-box;
            @include media('<=tablet') {
                display: none;
            }
            .cases-arrow {
                background: rgba(0, 0, 0, 0.6);
                height: 72px;
                width: 72px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    color: white;
                    height: 28px;
                    width: 28px;
                }

                &.disabled {
                    opacity: 0.3;
                }
            }
        }
        .row {
            display: flex;
            height: 45vh;
            height: calc(var(--vh, 1vh) * 45);

            @include media('<=tablet') {
                flex-direction: column;
            }
            .case {
                position: relative;
                width: 33.3333vw;
                height: 45vh;
                height: calc(var(--vh, 1vh) * 45);
                background-color: $black;
                cursor: pointer;
                &:hover {
                    .case-img {
                        opacity: 0.4;
                    }
                }
                .case-details {
                    width: 33.3333vw;
                    height: 45vh;
                    height: calc(var(--vh, 1vh) * 45);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 32px;
                    box-sizing: border-box;
                    z-index: 1;
                    position: relative;
                    cursor: pointer;

                    @include media('<=tablet') {
                        width: 100vw;
                    }
                    @include media('<=tablet') {
                        padding: 16px;
                    }
                    span {
                        margin-top: 0px;
                        font-size: 1.6rem;
                        opacity: 0.8;
                        color: $white;
                        font-weight: 600;
                        @include media('<=desktop', '>tablet') {
                            font-size: 1.4rem;
                        }
                        @include media('<=phone') {
                            font-size: 1.2rem;
                            line-height: 2.2rem;
                        }
                    }
                    h2 {
                        font-size: 2.1rem;
                        line-height: 3rem;
                        width: 85%;
                        font-weight: 400;
                        margin-top: 16px;
                        color: $white;
                        @include media('<=desktop', '>tablet') {
                            font-size: 1.8rem;
                            line-height: 2.2rem;
                        }
                        @include media('<=phone') {
                            font-size: 1.5rem;
                            line-height: 2rem;
                            margin-top: 8px;
                        }
                    }
                }
                .case-img {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    position: absolute;
                    opacity: 0.65;
                    transition: 0.4s ease-in-out;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    &:hover {
                        opacity: 0.4;
                    }
                }
            }
        }
    }
}
